body{
    background-color:bisque;
}
#score {
    font-size:30px;
    margin-left:50px;
}
#timer{
    font-size:30px;
    float:right;
    margin-right:50px;
}
#sketchNeeded{
    color:dimgray;
}
p{
    color:brown;
}